
.footer-main {
  width: 100%;
  font-size: .875rem;
  padding: 1rem;
  background-color: #2a2d35;
  display: table;
  height: 150px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  color: white;
  display: block;
  width: 100%;
  font-size: large;
}

.placement {
  display: flex;
  flex-direction: row;
  color: #fff;
  text-align: center;
  font-size: large;
}
