<div
  style="background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../assets/environnement-bg.jpg');">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-row">
      <img src='../assets/planet.gif' width="70" height="70" />
      <h1><a routerLink="/">Savevent</a></h1>
    </div>
    <span class="ml-5 p-2">
      <!-- <i class="pi pi-search"></i> -->
      <input type="text" pInputText placeholder="Search" />
    </span>
    <a routerLink="/eventlist">Events</a>
    <a routerLink="/event">Event</a>
    <div class="ml-auto p-2">
      <button pButton type="button" label="Se Connecter" class="p-button-success"></button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>